<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= templateData.post.title %></title>
<meta name="description" content="">
<meta name="author" content="Chad Ort">
<meta name="robots" content="<%= templateData.site.core.env === 'production' ? 'index, follow' : 'noindex, nofollow' %>">
<meta name="rating" content="general">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= templateData.post.title %>">
<meta name="twitter:site" content="<%= templateData.site.twitterHandle %>">
<meta name="twitter:description" content="">
<meta name="twitter:image:alt" content="<%= templateData.post.title %>">
<meta property="og:type" content="<%= templateData.post.type && templateData.post.type === 'article' ? 'article' : 'website' %>">
<meta property="og:title" content="<%= templateData.post.title %>">
<meta property="og:url" content="">
<meta property="og:image" content="">

<% if ( templateData.meta.image ) { %>
    <meta property="og:image" content="<%= templateData.meta.image %>">
<% } %>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
