<div id="main-content" class="content__main">

	<div class="featured-companies">

		<div class="featured-companies__content">
			<h2 class="featured-companies__title">I'm currently working for Snopes as the lead developer supporting our fact checking initiatives.</h2>
			<a class="featured-companies__cta" href="<%= templateData.site.core.siteUrl %>/about/companies">View work history</a>
		</div>

		<div class="featured-companies__visual">
			<ul class="featured-companies__company-ul">
				<% templateData.companies.forEach( company => { %>
					<li class="featured-companies__company-li">
						<h3 class="featured-companies__company-title"><a class="featured-companies__company-a" href="<%= company.post.publicPath %>"><%= company.post.title %></a></h3>
						<h4 class="featured-companies__company-type"><%= company.meta.companyType %></h4>
					</li>
				<% } ); %>
			</ul>
		</div>

	</div>

	<div class="feature-custom-build has-dark-bg">
		<div class="feature-custom-build__bg-img" style="background-image: url( <%= templateData.site.core.siteUrl %>/assets/images/mountain.png )"></div>
		<div class="feature-custom-build__inner-wrapper">
			<div class="feature-custom-build__content">
				<h2 class="feature-custom-build__title">How this site was built</h2>
				<div class="feature-custom-build__copy">
					<p>Much of the work that I do is private and there have been some technologies that I wanted to work with or just extend my knowledge around. I also didn’t want to manage a database so I didn’t want to use WordPress or another CMS.</p>
					<p>I decided to build a static site generator using Webpack and storing my content in Markdown files. All of this can be committed to Github and doesn’t require much maintenance. The infrastructure is also entirely written as code using Pulumi and deployed with Github Actions. The only thing that I did that is not included in this repository was registering the domain name.</p>
					<a class="feature-custom-build__cta" href="https://github.com/chadaort/Personal-Site">View project on Github</a>
				</div>
			</div>
			<a class="feature-custom-build__visual" href="#">
				<img class="feature-custom-build__visual-img" src="<%= templateData.site.core.siteUrl %>/assets/images/visual.png" alt="">
			</a>
		</div>
	</div>

	<div class="featured-work">

		<h2 class="featured-work__title">What I have been working on</h2>
		<ul class="featured-work__ul">
			<% templateData.blog.forEach( blogPost => { %>
				<li class="featured-work__li">
					<h3 class="featured-work__item-title">
						<a class="featured-work__item-title-a" href="<%= blogPost.post.publicPath %>"><%= blogPost.post.title %></a>
					</h3>
					<p class="featured-work__item-summary"><%= blogPost.post.summary %> <a href="<%= blogPost.post.publicPath %>">read more</a></p>
				</li>
			<% } ) %>
		</ul>
	</div>

</div>

<div class="content__after"></div>
